@charset "utf-8";



/* スマホ対応で作成 */

/*　ローディング画面--------------------------------------- */
.loading{
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding-top: 50%;
    text-align: center;
}

.loading img{
    height: 20%;
}

.loading p {
    font-size: 1.5rem;
}


/* メイン-------------------------------------------------- */
main {
    padding-top: 4.5rem;
    background-color: #D7EEFF;
    height: 100vh;
}

video {
    display: block;
}

.buttons{
    display: flex;
    justify-content: center;
}

.buttons button{
    width: 30%;
    border: 2px solid #000000;
    background-color: white;
    text-align: center;
    margin: 10px;
    padding: 10px 0;
    opacity: 0;
}














