@charset "utf-8";

/* スマホ対応で作成 */

/* メイン-------------------------------------------------- */
main {
    padding-top: 4.5rem;
/*  min-height: 100vh;*//*これ入れるとハンバーガーメニューがバグるからコメントアウトしました*/
    background-color: #D7EEFF	;    
}

.member {
    width: 95%;
    /* display: flex; */
    /* flex-wrap: nowrap; */
    /* align-items: start; */
    padding-top: 7rem;
    margin: 0 auto;
    /* background-color: red; */

}

.member_profile {
    display: flex;
}

.member1 {    
    width: 100%;
    text-align: center;
    margin-bottom: 1.5rem;
}

.member1:hover {
    background: lightcoral;
    cursor: pointer;
}

.photo {
    width: 100%;
    margin-bottom: .75rem;
}

.member1 p {
    margin-bottom: .5rem;
}

/* モーダル部分 */
.modal1 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: #ffffffc8;
}

@keyframes modalOpen1 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modal-content {
    background-color: #ffffff;
    margin: 4rem 3rem;
    height: 100%;
    animation-name: modalopen;
    animation-duration: 1s;
}

.modalClose1:hover {
    cursor: pointer;
}