@charset "utf-8";

/* スマホ対応で作成 */
header {
    z-index: 100;
}

/* メイン-------------------------------------------------- */
main {
    padding-top: 4.5rem;
    min-height: 100vh; 
    background-color: #D7EEFF	;    
}

.member {
    width: 95%;
    padding: 3rem 0 3rem 0;
    margin: 0 auto;
}

.member_profile {
    display: flex;
}

.member1 {    
    width: 100%;
    text-align: center;
    margin-bottom: 1.5rem;
}

.member1:hover {
    cursor: pointer;
}

.logo {
    width: 100%;
    margin-bottom: .75rem;
}

.photo {
    width: 100%;
    margin-bottom: .75rem;
    filter: drop-shadow(3px 3px 1px rgba(97, 97, 97, 0.609));
}

.photo:hover {
    cursor: pointer;
    opacity: .7;
    transition: 1s;
    transform: scale(1.05,1.05);
}

.photo:active {
    position: relative;
    top: 3px;
}


.member1 p {
    margin-bottom: .5rem;
}


/* 新規作成 ------------------------------------------*/
.modalPhoto {
    width: 100%;
    margin-bottom: .75rem;
}

/* 航大用 */
#overlay {
    opacity: 0;
    pointer-events: none;
    transition: .3s;
}

#overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.7);
    z-index: 1;
    transition: .3s;
    /* overflow-y: scroll; */
}


#modal {
    opacity: 0;
    pointer-events: none;
    height: 100%;
    overflow: auto;
}

#modal.active {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    position: fixed;
    margin-top: 7rem;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-height: 700px;
    background-color: #D7EEFF;
    z-index: 2;
    border-radius: 25px;
    border: 5px solid #004b84;    
}

.modal span {
    font-size: 2rem;
    text-align: right;
    display: block;
    margin-right: 1rem;
    margin-top: .3rem;
}

.table {
    margin-bottom: 4rem;
    width: 100%;
    border-collapse: collapse;
    /* border: .1rem solid #004b84; */
}

.table th,.table td {
    display: block;
    margin: 0 1.5rem;
    border: 1.5px solid #004b84;
}

.table th {
    text-align: left;
    padding-left: .2rem;
    background-color: #67bafa;
}

.table td {
    background-color: #a6d9ff;
}

.table td:last-child {
    border-bottom: 1.5px solid #004b84;
}

/* こみた用 */

#overlay2 {
    opacity: 0;
    pointer-events: none;
    transition: .3s;
}

#overlay2.active {
    opacity: 1;
    pointer-events: auto;
}

.overlay2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.7);
    z-index: 1;
    transition: .3s;
}


#modal2 {
    opacity: 0;
    pointer-events: none;
    height: 100%;
    overflow: auto;
}



#modal2.active {
    opacity: 1;
    pointer-events: auto;
}

.modal2 {
    position: fixed;
    top: 0;
    margin-top: 7rem;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-height: 700px;
    background-color: #fadff3;
    z-index: 2;
    border-radius: 25px;
    border: 2px solid #d903a0;    
}

.modal2 span {
    font-size: 2rem;
    text-align: right;
    display: block;
    margin-right: 1rem;
    margin-top: .3rem;
}

.member2 {    
    width: 100%;
    text-align: center;
    margin-bottom: 1.5rem;
}

.member2:hover {
    cursor: pointer;
}

.photo {
    width: 100%;
    margin-bottom: .75rem;
    filter: drop-shadow(3px 3px 1px rgba(97, 97, 97, 0.609));
}

.photo:hover {
    cursor: pointer;
    opacity: .7;
    transition: 1s;
    transform: scale(1.05,1.05);
}

.photo:active {
    position: relative;
    top: 3px;
}


.member2 p {
    margin-bottom: .5rem;
}


.table2 {
    width: 100%;
    margin-bottom: 4rem;
    border-collapse: collapse;
}

.table2 th,.table2 td {
    display: block;
    margin: 0 1.5rem;
    border: 1.5px solid #d903a0;
}

.table2 th {
    text-align: left;
    padding-left: .2rem;
    background-color: #f4aee5;
}

.table2 td {
    background-color: #fadff3;
}

.table2 td:last-child {
    border-bottom: 1.5px solid #d903a0;
}


/* 桃子ちゃん用 */

#overlay3 {
    opacity: 0;
    pointer-events: none;
    transition: .3s;
}

#overlay3.active {
    opacity: 1;
    pointer-events: auto;
}

.overlay3 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.7);
    z-index: 1;
    transition: .3s;
}


#modal3 {
    opacity: 0;
    pointer-events: none;
    height: 100%;
    overflow: auto;
}



#modal3.active {
    opacity: 1;
    pointer-events: auto;
}

.modal3 {
    position: fixed;
    top: 0;
    margin-top: 7rem;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-height: 700px;
    background-color: #f8efb7;
    z-index: 2;
    border-radius: 25px;
    border: 2px solid #d9c403;    
}

.modal3 span {
    font-size: 2rem;
    text-align: right;
    display: block;
    margin-right: 1rem;
    margin-top: .3rem;
}

.member3 {    
    width: 100%;
    text-align: center;
    margin-bottom: 1.5rem;
}

.member3:hover {
    cursor: pointer;
}



 
.member3 p {
    margin-bottom: .5rem;
}


.table3{
    width: 100%;
    margin-bottom: 4rem;
    border-collapse: collapse;
}

.table3 th,.table3 td {
    display: block;
    margin: 0 1.5rem;
    border: 1.5px solid #d9c403;
}

.table3 th {
    text-align: left;
    padding-left: .2rem;
    background-color: #f9f17e;
}

.table3 td {
    background-color: #f8efb7;
}


.table3 td:last-child {
    border-bottom: 1.5px solid #d9c403;
}

/* しょーた用 */

#overlay4 {
    opacity: 0;
    pointer-events: none;
    transition: .3s;
}

#overlay4.active {
    opacity: 1;
    pointer-events: auto;
}

.overlay4 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.7);
    z-index: 1;
    transition: .3s;
}


#modal4 {
    opacity: 0;
    pointer-events: none;
    height: 100%;
    overflow: auto;
}



#modal4.active {
    opacity: 1;
    pointer-events: auto;
}

.modal4 {
    position: fixed;
    top: 0;
    margin-top: 7rem;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-height: 700px;
    background-color: #cacaca;
    z-index: 2;
    border-radius: 25px;
    border: 2px solid #434343;    
}

.modal4 span {
    font-size: 2rem;
    text-align: right;
    display: block;
    margin-right: 1rem;
    margin-top: .3rem;
}

.member4 {    
    width: 100%;
    text-align: center;
    margin-bottom: 1.5rem;
}

.member4:hover {
    cursor: pointer;
}

 
.member4 p {
    margin-bottom: .5rem;
}


.table4 {
    width: 100%;
    margin-bottom: 4rem;
    border-collapse: collapse;
}

.table4 th,.table4 td {
    display: block;
    margin: 0 1.5rem;
    border: 1.5px solid #434343;
}

.table4 th {
    text-align: left;
    padding-left: .2rem;
    background-color: #cacaca;
}

.table4 td {
    background-color: #eeeeee;
}


.table4 td:last-child {
    border-bottom: 1.5px solid #434343;
}


/* 桃子ちゃん用 */

#overlay5 {
    opacity: 0;
    pointer-events: none;
    transition: .3s;
}

#overlay5.active {
    opacity: 1;
    pointer-events: auto;
}

.overlay5 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.7);
    z-index: 1;
    transition: .3s;
}


#modal5 {
    opacity: 0;
    pointer-events: none;
    height: 100%;
    overflow: auto;
}



#modal5.active {
    opacity: 1;
    pointer-events: auto;
}

.modal5 {
    position: fixed;
    top: 0;
    margin-top: 7rem;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-height: 700px;
    background-color: #a6d9ff;
    z-index: 2;
    border-radius: 25px;
    border: 2px solid #004b84;    
}

.modal5 span {
    font-size: 2rem;
    text-align: right;
    display: block;
    margin-right: 1rem;
    margin-top: .3rem;
}

.member5 {    
    width: 100%;
    text-align: center;
    margin-bottom: 1.5rem;
}

.member5:hover {
    cursor: pointer;
}


 
.member5 p {
    margin-bottom: .5rem;
}


.table5 {
    width: 100%;
    margin-bottom: 4rem;
    border-collapse: collapse;
}

.table5 th,.table5 td {
    display: block;
    margin: 0 1.5rem;
    border: 1.5px solid #004b84;
}

.table5 th {
    text-align: left;
    padding-left: .2rem;
    background-color: #67bafa;
}


.table5 td {
    background-color: #a6d9ff;
}

.table5 td:last-child {
    border-bottom: 1.5px solid #004b84;
}



/* テーブル */
.borderonly td {
    border-bottom: none;
    border-top: none;
}

.borderonly th,.borderonly td {
    padding: 3px 5px;
}